{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<h1 class="text-white">Welcome to the Index Page</h1>

<h2>{%if form.instance.pk %}
    Edit Tweet 
    {% else %}
    Create Tweet 
    {% endif %}
    <form method="post" enctype="multipart/form-data"
    class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-warning mb-2">Submit</button>
</form>
<a href="{% url 'tweet_list' %}" class="btn btn-secondary">Cancel</a>

</h2>

{% endblock %}
